node_modules/
.env
token.txt
storage-state.json
.vscode/

#Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
browser-context.json
#Allure
allure-results/
allure-report/
allure-results-api/
allure-results-api-integration/
